.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  display: flex;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.headerContainer{
  width: 100%;
  color: #282c34;
  background-color: #4783de;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
.searchContainer{
  background-color: #ebedf0;
  margin: 8px;
  padding: 4px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
.repoContainer{
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  margin-left: 8px;
  margin-right: 8px;
}

.repoCardWrapper{
  display: block;
  width: 458px;
  height: 120px;
  font-size: 1em;
  padding: 4px;
  margin: 4px;
  border: 1px solid #000;
  border-radius: 4px;
}
.userInfoContainer{
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  margin-left: 10px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
.userDetail{
  display: block;
  min-width: 300px;
  margin: 0px;
  margin-left: 3px;
  margin-right: 1px;
  height: 32px;
}

input{
  padding: 4px;
  margin: 4px;
  font-size: 1em;
  min-width: 200px;
  margin-left: 10px
}
#userSubmit{
  min-width: auto;
}
body{
  background-color: #282c34;
}
form{
  text-align: center;
}
p{
  margin-top: 0.5em;
  margin-left: 4px;
}
.hover-zoom {
  -moz-transition:all 0.3s;
  -webkit-transition:all 0.3s;
   transition:all 0.3s
}
.hover-zoom:hover {
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
   transform: scale(2);
}
.repoDetail{
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
  max-height:34px;
}
.repoCardWrapper div >p{
  margin-top: 0px;
}
.descDetail{
  display: flex;
  margin: 0px;
  padding: 2px;
  justify-content: space-between;
  background-color: #efeff4;
  height: 55px;
  margin-top: 5px;
  padding-top: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-line;
}

.starWrapper{
  display: flex;
}
.descDetail > p{
  margin: 0px;
  padding: 0px;
  margin-top: 6px;
}
.langDetail{
  background-color: #29579C;
  width: fit-content;
  color: #ffffff;
  padding: 2px;
  padding-right: 4px;
}
a {
  text-decoration: none;
}
a:link, a:visited {
  color:#29579C;
}
a:hover {
  color: #000000;
}
.repoWrapper{
  align-items: flex-end;
    display: flex;
}